<div *ngIf="data" class="big-title page-title">
  <h1>{{ data.establishmentName }} - {{ data.area }}</h1>
  <div class="big-title-border"></div>
</div>

<div class="bg-parallelogram bg-main"></div>

<div *ngIf="data" class="accommodation-container">
  <app-mail
    [contactType]="'enquiries'"
    [displayName]="'Enquiry'"
    [ngClass]="{ 'contact-form-display': displayEnquiry }"
    (closeContactForm)="toggleContactForm()"
  ></app-mail>

  <div class="accommodation-top">
    <div class="accommodation-img">
      <app-gallery [images]="data.imageUrl"></app-gallery>
    </div>

    <div class="accommodation-map">
      <agm-map
        [latitude]="data.location.latitude"
        [longitude]="data.location.longitude"
        [zoom]="zoom"
      >
        <agm-marker
          [latitude]="data.location.latitude"
          [longitude]="data.location.longitude"
        ></agm-marker>
      </agm-map>
    </div>
  </div>

  <div class="accommodation-bottom">
    <div class="accommodation-details">
      <div class="accommodation-title">
        <h2>{{ data.establishmentName }}</h2>
        <div class="accommodation-rating">
          <svg
            *ngFor="let item of [].constructor(data.rating); let i = index"
            xmlns="http://www.w3.org/2000/svg"
            width="12.403"
            height="11.783"
            viewBox="0 0 12.403 11.783"
          >
            <g id="Page-1" transform="translate(0 -0.5)">
              <g id="Core" transform="translate(0 0.5)">
                <g id="star">
                  <path
                    id="Shape"
                    d="M6.2,9.472l3.833,2.311L9.02,7.424,12.4,4.492,7.944,4.11,6.2,0,4.46,4.11,0,4.492,3.383,7.424,2.369,11.783Z"
                    fill="#fd0"
                    fill-rule="evenodd"
                  />
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <p class="accommodation-text">{{ data.description }}</p>
    </div>

    <form
      class="accommodation-details-booking"
      [formGroup]="bookingForm"
      (ngSubmit)="onSubmit(bookingForm.value)"
      #ngForm="ngForm"
    >
      <div class="accommodation-booking-form">
        <div class="accommodation-booking-input-group">
          <label for="name">Your Name</label>

          <div class="accommodation-booking-input-icon">
            <svg viewBox="0 0 18 16">
              <defs></defs>
              <g id="Group_92_1_" transform="translate(-6.5 -8)">
                <line
                  id="Line_14_1_"
                  class="st0"
                  x1="6.5"
                  y1="8.5"
                  x2="24.5"
                  y2="8.5"
                />
                <line
                  id="Line_15_1_"
                  class="st0"
                  x1="10.8"
                  y1="11.5"
                  x2="24.5"
                  y2="11.5"
                />
                <line
                  id="Line_16_1_"
                  class="st0"
                  x1="6.5"
                  y1="14.5"
                  x2="24.5"
                  y2="14.5"
                />
                <line
                  id="Line_17_1_"
                  class="st0"
                  x1="10.8"
                  y1="17.5"
                  x2="24.5"
                  y2="17.5"
                />
                <line
                  id="Line_18_1_"
                  class="st0"
                  x1="6.5"
                  y1="20.5"
                  x2="24.5"
                  y2="20.5"
                />
                <line
                  id="Line_19_1_"
                  class="st0"
                  x1="10.8"
                  y1="23.5"
                  x2="24.5"
                  y2="23.5"
                />
              </g>
            </svg>
          </div>

          <div
            *ngIf="
              name.invalid && (name.dirty || name.touched || ngForm.submitted)
            "
            class="form-overbox form-error"
          >
            <h3 *ngIf="name.errors.required">Name required!</h3>
            <h3 *ngIf="name.errors.minlength">
              Name must be at least 3 characters long
            </h3>
          </div>

          <input
            id="name"
            class="form-input"
            formControlName="name"
            placeholder="John Hancock"
            type="text"
            name="name"
            required
            minlength="3"
          />
        </div>

        <div class="accommodation-booking-input-group">
          <label for="email">Your Email Address</label>

          <div class="accommodation-booking-input-icon">
            <svg viewBox="0 0 18 16">
              <defs></defs>
              <g id="Group_92_1_" transform="translate(-6.5 -8)">
                <line
                  id="Line_14_1_"
                  class="st0"
                  x1="6.5"
                  y1="8.5"
                  x2="24.5"
                  y2="8.5"
                />
                <line
                  id="Line_15_1_"
                  class="st0"
                  x1="10.8"
                  y1="11.5"
                  x2="24.5"
                  y2="11.5"
                />
                <line
                  id="Line_16_1_"
                  class="st0"
                  x1="6.5"
                  y1="14.5"
                  x2="24.5"
                  y2="14.5"
                />
                <line
                  id="Line_17_1_"
                  class="st0"
                  x1="10.8"
                  y1="17.5"
                  x2="24.5"
                  y2="17.5"
                />
                <line
                  id="Line_18_1_"
                  class="st0"
                  x1="6.5"
                  y1="20.5"
                  x2="24.5"
                  y2="20.5"
                />
                <line
                  id="Line_19_1_"
                  class="st0"
                  x1="10.8"
                  y1="23.5"
                  x2="24.5"
                  y2="23.5"
                />
              </g>
            </svg>
          </div>

          <div
            *ngIf="
              email.invalid &&
              (email.dirty || email.touched || ngForm.submitted)
            "
            class="form-overbox form-error"
          >
            <h3 *ngIf="email.errors.required">Email required!</h3>
            <h3 *ngIf="email.errors.pattern">Not a valid email!</h3>
          </div>

          <input
            id="email"
            class="form-input"
            formControlName="email"
            placeholder="email@address.com"
            type="email"
            required
            name="email"
          />
        </div>

        <div class="accommodation-booking-input-group">
          <label for="bookingStart">Check-in Date</label>

          <div class="accommodation-booking-input-icon">
            <svg viewBox="0 0 18 16">
              <defs></defs>
              <g id="Group_92_1_" transform="translate(-6.5 -8)">
                <line
                  id="Line_14_1_"
                  class="st0"
                  x1="6.5"
                  y1="8.5"
                  x2="24.5"
                  y2="8.5"
                />
                <line
                  id="Line_15_1_"
                  class="st0"
                  x1="10.8"
                  y1="11.5"
                  x2="24.5"
                  y2="11.5"
                />
                <line
                  id="Line_16_1_"
                  class="st0"
                  x1="6.5"
                  y1="14.5"
                  x2="24.5"
                  y2="14.5"
                />
                <line
                  id="Line_17_1_"
                  class="st0"
                  x1="10.8"
                  y1="17.5"
                  x2="24.5"
                  y2="17.5"
                />
                <line
                  id="Line_18_1_"
                  class="st0"
                  x1="6.5"
                  y1="20.5"
                  x2="24.5"
                  y2="20.5"
                />
                <line
                  id="Line_19_1_"
                  class="st0"
                  x1="10.8"
                  y1="23.5"
                  x2="24.5"
                  y2="23.5"
                />
              </g>
            </svg>
          </div>

          <div
            *ngIf="
              bookingStart.invalid &&
              (bookingStart.dirty || bookingStart.touched || ngForm.submitted)
            "
            class="form-overbox form-error"
          >
            <h3
              *ngIf="
                bookingStart.errors.incorrect || bookingStart.errors.required
              "
            >
              Check-in date required!
            </h3>
            <h3 *ngIf="bookingStart.errors.startDate">
              Check-in can't be before Check-out
            </h3>
          </div>
          <input
            #bookingStartElement
            (change)="onDateChange($event, 'bookingStart')"
            id="bookingStart"
            class="form-input form-date"
            [value]="formatDate(bookingStart.value.toDate())"
            type="date"
            required
            name="bookingStart"
          />
        </div>

        <div class="accommodation-booking-input-group">
          <label for="bookingEnd">Check-out Date</label>

          <div class="accommodation-booking-input-icon">
            <svg viewBox="0 0 18 16">
              <defs></defs>
              <g id="Group_92_1_" transform="translate(-6.5 -8)">
                <line
                  id="Line_14_1_"
                  class="st0"
                  x1="6.5"
                  y1="8.5"
                  x2="24.5"
                  y2="8.5"
                />
                <line
                  id="Line_15_1_"
                  class="st0"
                  x1="10.8"
                  y1="11.5"
                  x2="24.5"
                  y2="11.5"
                />
                <line
                  id="Line_16_1_"
                  class="st0"
                  x1="6.5"
                  y1="14.5"
                  x2="24.5"
                  y2="14.5"
                />
                <line
                  id="Line_17_1_"
                  class="st0"
                  x1="10.8"
                  y1="17.5"
                  x2="24.5"
                  y2="17.5"
                />
                <line
                  id="Line_18_1_"
                  class="st0"
                  x1="6.5"
                  y1="20.5"
                  x2="24.5"
                  y2="20.5"
                />
                <line
                  id="Line_19_1_"
                  class="st0"
                  x1="10.8"
                  y1="23.5"
                  x2="24.5"
                  y2="23.5"
                />
              </g>
            </svg>
          </div>

          <div
            *ngIf="
              bookingEnd.invalid &&
              (bookingEnd.dirty || bookingEnd.touched || ngForm.submitted)
            "
            class="form-overbox form-error"
          >
            <h3
              *ngIf="
                bookingEnd.errors.incorrect || bookingStart.errors.required
              "
            >
              Check-out date required!
            </h3>
          </div>

          <input
            #bookingEndElement
            (change)="onDateChange($event, 'bookingEnd')"
            id="bookingEnd"
            class="form-input form-date"
            [value]="formatDate(bookingEnd.value.toDate())"
            type="date"
            required
            name="bookingEnd"
          />
        </div>
      </div>

      <div class="accommodation-booking-form">
        <div class="accommodation-booking-input-group">
          <label for="rooms">Rooms</label>

          <div class="accommodation-booking-input-icon">
            <svg viewBox="0 0 18 16">
              <defs></defs>
              <g id="Group_92_1_" transform="translate(-6.5 -8)">
                <line
                  id="Line_14_1_"
                  class="st0"
                  x1="6.5"
                  y1="8.5"
                  x2="24.5"
                  y2="8.5"
                />
                <line
                  id="Line_15_1_"
                  class="st0"
                  x1="10.8"
                  y1="11.5"
                  x2="24.5"
                  y2="11.5"
                />
                <line
                  id="Line_16_1_"
                  class="st0"
                  x1="6.5"
                  y1="14.5"
                  x2="24.5"
                  y2="14.5"
                />
                <line
                  id="Line_17_1_"
                  class="st0"
                  x1="10.8"
                  y1="17.5"
                  x2="24.5"
                  y2="17.5"
                />
                <line
                  id="Line_18_1_"
                  class="st0"
                  x1="6.5"
                  y1="20.5"
                  x2="24.5"
                  y2="20.5"
                />
                <line
                  id="Line_19_1_"
                  class="st0"
                  x1="10.8"
                  y1="23.5"
                  x2="24.5"
                  y2="23.5"
                />
              </g>
            </svg>
          </div>

          <div
            *ngIf="
              rooms.invalid && (name.dirty || rooms.touched || ngForm.submitted)
            "
            class="form-overbox form-error"
          >
            <h3 *ngIf="rooms.errors.required">Name required!</h3>
            <h3 *ngIf="rooms.errors.minlength">
              Name must be at least 3 characters long
            </h3>
          </div>

          <input
            id="rooms"
            class="form-input"
            formControlName="rooms"
            type="number"
            name="rooms"
            required
            min="1"
            max="50"
          />
        </div>

        <div class="accommodation-booking-input-group">
          <label for="persons">Adults</label>

          <div class="accommodation-booking-input-icon">
            <svg viewBox="0 0 18 16">
              <defs></defs>
              <g id="Group_92_1_" transform="translate(-6.5 -8)">
                <line
                  id="Line_14_1_"
                  class="st0"
                  x1="6.5"
                  y1="8.5"
                  x2="24.5"
                  y2="8.5"
                />
                <line
                  id="Line_15_1_"
                  class="st0"
                  x1="10.8"
                  y1="11.5"
                  x2="24.5"
                  y2="11.5"
                />
                <line
                  id="Line_16_1_"
                  class="st0"
                  x1="6.5"
                  y1="14.5"
                  x2="24.5"
                  y2="14.5"
                />
                <line
                  id="Line_17_1_"
                  class="st0"
                  x1="10.8"
                  y1="17.5"
                  x2="24.5"
                  y2="17.5"
                />
                <line
                  id="Line_18_1_"
                  class="st0"
                  x1="6.5"
                  y1="20.5"
                  x2="24.5"
                  y2="20.5"
                />
                <line
                  id="Line_19_1_"
                  class="st0"
                  x1="10.8"
                  y1="23.5"
                  x2="24.5"
                  y2="23.5"
                />
              </g>
            </svg>
          </div>

          <div
            *ngIf="
              persons.invalid &&
              (persons.dirty || persons.touched || ngForm.submitted)
            "
            class="form-overbox form-error"
          >
            <h3 *ngIf="persons.errors.required">Email required!</h3>
            <h3 *ngIf="persons.errors.pattern">Not a valid email!</h3>
          </div>

          <input
            (change)="onNumberChange($event)"
            id="persons"
            class="form-input"
            formControlName="persons"
            type="number"
            required
            name="persons"
            min="1"
            max="50"
          />
        </div>
      </div>

      <div class="accommodation-booking-form-bottom">
        <button type="button" class="btn mail" (click)="toggleContactForm()">
          CONTACT
        </button>
        <div class="accommodation-booking-details">
          <div class="accommodation-booking-details-box">
            <p>Self Catering</p>
            <p class="square">{{ data.selfCatering ? 'Yes' : 'No' }}</p>
          </div>
          <div class="accommodation-booking-details-box">
            <p>Max Guests</p>
            <p class="square">{{ data.maxGuests }}</p>
          </div>
        </div>

        <div class="accommodation-booking-price">
          <h2>${{ displayPrice }}</h2>
        </div>

        <button type="submit" class="btn">BOOK NOW</button>
      </div>
    </form>
  </div>
</div>
