<nav class="nav">
  <div class="nav-container">
    <a routerLink="">Home</a>
  </div>

  <div *ngIf="auth.user$ | async as user; else login">
    <div class="nav-item">
      <a *ngIf="auth.isAdmin(user)" routerLink="/admin">Admin</a>
    </div>

    <div class="nav-item">
      <a class="button" (click)="auth.signOut()">Sign Out</a>
    </div>
  </div>

  <ng-template class="user-login" #login>
    <div class="nav-item">
      <a class="button" (click)="auth.googleSignIn()">
        Login with Google
      </a>
    </div>
  </ng-template>
</nav>
