<h1>Administration - View</h1>

<table class="fl-table">
  <tr>
    <th *ngFor="let layoutItem of readLayout">{{ layoutItem.name }}</th>
  </tr>

  <tr *ngFor="let item of collections | async">
    <td *ngFor="let layoutItem of readLayout">
      <!--Switch the display mode based on the layout type-->
      <div [ngSwitch]="layoutItem.layout.type">
        <app-string
          *ngSwitchCase="'string'"
          [text]="item[layoutItem.layout.key]"
        ></app-string>

        <app-date
          *ngSwitchCase="'date'"
          [date]="item[layoutItem.layout.key]"
        ></app-date>

        <app-booking-date
          *ngSwitchCase="'booking'"
          [dateStart]="item[layoutItem.layout.keys[0]]"
          [dateEnd]="item[layoutItem.layout.keys[1]]"
        ></app-booking-date>

        <app-images
          *ngSwitchCase="'imageArray'"
          [images]="item[layoutItem.layout.key]"
        ></app-images>

        <app-image
          *ngSwitchCase="'image'"
          [image]="item[layoutItem.layout.key]"
        ></app-image>

        <app-roles
          *ngSwitchCase="'roles'"
          [roles]="item[layoutItem.layout.key]"
        ></app-roles>
      </div>
    </td>
  </tr>
</table>
