<h1>Administration - View</h1>

<table class="fl-table">
  <tr>
    <th *ngFor="let titleHead of readLayout">{{ titleHead.name }}</th>
  </tr>

  <tr *ngFor="let item of collections | async">
    <td *ngFor="let layoutInfo of readLayout">
      <!--Switch the display mode based on the layout type-->
      <div [ngSwitch]="layoutInfo.type">
        <app-string
          *ngSwitchCase="'string'"
          [text]="item[layoutInfo.key]"
        ></app-string>

        <app-date
          *ngSwitchCase="'date'"
          [date]="item[layoutInfo.key]"
        ></app-date>

        <app-booking-date
          *ngSwitchCase="'booking'"
          [dateStart]="item[layoutInfo.keys[0]]"
          [dateEnd]="item[layoutInfo.keys[1]]"
        ></app-booking-date>

        <app-images
          *ngSwitchCase="'imageArray'"
          [images]="item[layoutInfo.key]"
        ></app-images>

        <app-image
          *ngSwitchCase="'image'"
          [image]="item[layoutInfo.key]"
        ></app-image>

        <app-roles
          *ngSwitchCase="'roles'"
          [roles]="item[layoutInfo.key]"
        ></app-roles>
      </div>
    </td>

    <td>
      <a
        [routerLink]="'/admin'"
        [queryParams]="{ model: model, mode: 'edit', id: item.id || item.uid }"
        ><img class="admin-read-icon" src="assets/images/svg/pencil.svg" alt=""
      /></a>

      <img
        (click)="confirmDelete(item.id || item.uid)"
        class="admin-read-icon"
        src="assets/images/svg/trashcan.svg"
        alt=""
      />
    </td>
  </tr>
</table>

<div *ngIf="showConfirmPrompt" class="admin-confirm-delete">
  <h2>Are you sure you want to delete this?</h2>
  <button (click)="deleteEntry()">Confirm</button>
  <button (click)="cancelDelete()">Cancel</button>
</div>
