<div class="admin-debug">
  <button (click)="seedEstablishments()">Seed Establishments</button>
  <button (click)="seedEnquiries()">Seed Enquiries</button>
  <button (click)="seedMessages()">Seed Messages</button>
  <input type="file" (change)="seedPosts($event.target.files)" multiple />
</div>

<div class="admin-menu">
  <a
    [routerLink]="'/admin'"
    [queryParams]="{ model: 'establishments', mode: 'read' }"
    >Establishments</a
  >
  <a
    [routerLink]="'/admin'"
    [queryParams]="{ model: 'enquiries', mode: 'read' }"
    >Enquiries</a
  >
  <a [routerLink]="'/admin'" [queryParams]="{ model: 'messages', mode: 'read' }"
    >Messages</a
  >
  <a [routerLink]="'/admin'" [queryParams]="{ model: 'posts', mode: 'read' }"
    >Posts</a
  >
  <a [routerLink]="'/admin'" [queryParams]="{ model: 'users', mode: 'read' }"
    >Users</a
  >
</div>

<app-read *ngIf="mode === 'read'" [model]="model"></app-read>

<app-edit *ngIf="mode === 'edit'" [model]="model" [id]="id"></app-edit>
