<div class="big-title page-title">
  <h1>Your reservations</h1>
  <div class="big-title-border"></div>
</div>

<div class="bg-parallelogram"></div>

<div class="reservations-container">
  <div class="reservation-row" *ngFor="let item of data">
    <h3>
      Establishment Name: <span>{{ item.establishmentName }}</span>
    </h3>
    <h3>
      Check-in Date: <span>{{ formatDate(item.bookingStart.toDate()) }}</span>
    </h3>
    <h3>
      Check-out Date: <span>{{ formatDate(item.bookingEnd.toDate()) }}</span>
    </h3>
  </div>
</div>
