@import '../../variables';

.reservations-container {
  position: relative;
  width: $main-width;
  max-width: $max-width;
  margin: 0 auto 590px auto;
}

.page-title {
  margin: 80px auto;
}

.reservation-row {
  display: flex;
  background-color: $main;
  justify-content: space-between;
  color: $white;
}
