/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

app-root {
  overflow-y: auto;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: $font-family-text;
}

app-footer {
  display: block;
  position: relative;
  margin-top: 300px;
  height: 260px;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family;
}

h4 {
  color: $secondary-shade;
  margin: 5px 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;

  &:visited {
    color: $white;
  }
}

.btn {
  width: 100%;
  height: 30px;
  background-color: $tertiary;
  border: none;
  border-bottom: 2px solid $tertiary-shade;
  text-transform: uppercase;
  color: $white;
  transition: transform, background-color, border-bottom-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: $secondary;
    border-bottom-color: $secondary-shade;
  }
}

.bg-parallelogram {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
  width: 105vw;
  height: 43vw;
  background-color: $main-shade2;
  clip-path: polygon(17% 38%, 100% 0, 83% 62%, 0 100%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.bg-trapezoid {
  position: absolute;
  top: -35%;
  right: calc(-20vw);
  z-index: -11;
  width: 50vw;
  height: 43vw;
  background-color: $main;
  clip-path: polygon(12% 8%, 100% 0, 100% 100%, -3% 92%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.bg-slope {
  z-index: -12;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 1700px;
  background-color: $secondary;
  clip-path: polygon(0 0, 100% 34%, 100% 100%, 0% 100%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.home-title {
  margin: 70px auto;
  position: relative;
  width: 380px;
  height: 80px;

  h1 {
    line-height: 80px;
    text-align: center;
    font-size: 4em;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.home-title-border {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 100%;
  border-top: 1px solid $main;
  border-bottom: 1px solid $main;
  transform: translate(-50%, -50%);
}
