//Fonts
$font-family: bilo, sans-serif;
$font-family-text: degular, sans-serif;

// Colours
$white: white;
$grey: gray;
$main: #026774;
$main-shade1: #00bcd4;
$main-shade2: #b2ebf2;

$secondary: #815545;
$secondary-shade: #c27f65;

$tertiary: #dd2c00;
$tertiary-shade: #ff5722;
