<app-booking-search></app-booking-search>

<app-home-gallery></app-home-gallery>

<div class="big-title">
  <h1>Latest deals</h1>
  <div class="big-title-border"></div>
</div>

<app-home-deals></app-home-deals>

<div class="home-explore">
  <div class="home-explore-title-container">
    <div class="big-title">
      <h1>Explore Bergen</h1>
      <div class="big-title-border"></div>
    </div>
  </div>

  <img
    class="home-explore-img"
    src="https://firebasestorage.googleapis.com/v0/b/noroff-projectexam-02.appspot.com/o/home-explore.jpg?alt=media&token=201aaa8d-e41b-4311-8b3c-965a4f7ad2c9"
    alt=""
  />

  <div class="home-explore-blob">
    <h4>This is a sub heading</h4>
    <p>
      This is a paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
    </p>
  </div>

  <div class="bg-trapezoid"></div>
</div>

<app-home-posts></app-home-posts>
